<!-- Footer -->
<footer>
  <p class="text-center">IoT.js Code is an open source project under the <a target="_blank" href="https://github.com/Samsung/iotjscode/blob/master/LICENSE">Apache License, Version 2.0.</a></p>
</footer>
<!-- /Footer -->
