<!-- Menu -->
<%- include('menu'); %>
<!-- /Menu -->

<!-- Page Wrapper -->
<div id="main-wrapper" class="wrapper container-fluid">
    <!-- Modal background -->
    <div id="sidenav-extra-modal"></div>

    <!-- Popups -->
    <div id="popup-wrapper"></div>
    <!-- /Popups -->

    <!-- Sidenav extra -->
    <%- include('sidenav'); %>
    <!-- /Sidenav extra -->

    <!-- Workspace -->
    <%- include('workspace/main'); %>
    <!-- /Workspace -->
</div>
<!-- /.wrapper -->