<%- include menu -%>

<!-- Page Wrapper -->
<div id="main-wrapper" class="container-fluid">
    <!-- Modal background -->
    <div id="sidenav-extra-modal"></div>
    <!-- /Modal background -->

    <!-- Popups -->
    <div id="popup-wrapper"></div>
    <!-- /Popups -->

    <%- include sidenav -%>

    <%- include workspace/main -%>

    <%- include footer -%>
    <div id="container">
        <div id="container-content">
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
