<!-- Menu -->
<div id="left-sidenav" class="sidenav">
  <ul>
    <li class="sidenav-separator">
      <i class="fa fa-bars" aria-hidden="true" id="sidenav-toggle-button"></i>
      <div id="brand-name">IoT.js Code</div>
    </li>

    <!-- Main -->
    <li class="extra-sidenav-toggle" id="sidenav-toggle-file" data-eid="file-sidenav">
      <i class="fa fa-file" aria-hidden="true" title="Open file menu."></i>
      <div>File</div>
    </li>
    <li class="extra-sidenav-toggle" id="sidenav-toggle-settings" data-eid="settings-sidenav">
      <i class="fa fa-cog" aria-hidden="true" title="Open settings."></i>
      <div>Settings</div>
    </li>
    <li class="sidenav-separator extra-sidenav-toggle" id="sidenav-toggle-download" data-eid="download-sidenav">
      <i class="fa fa-download" aria-hidden="true" title="Open download menu."></i>
      <div>Download</div>
    </li>

    <!-- Panel swithes -->
    <li class="sidenav-panel-toggle active-sidenav-button" id="sidenav-toggle-backtrace" data-pid="backtrace">
      <i class="fa fa-list-ul" aria-hidden="true" title="Turn on/off the Backtrace panel."></i>
      <div>Backtrace</div>
    </li>
    <li class="sidenav-panel-toggle active-sidenav-button" id="sidenav-toggle-breakpoints" data-pid="breakpoints">
      <i class="fa fa-dot-circle-o" aria-hidden="true" title="Turn on/off the Breakpoints panel."></i>
      <div>Breakpoints</div>
    </li>
    <li class="sidenav-panel-toggle" id="sidenav-toggle-watch" data-pid="watch">
      <i class="fa fa-eye" aria-hidden="true" title="Turn on/off the Watch panel."></i>
      <div>Watch</div>
    </li>
    <li class="sidenav-panel-toggle" id="sidenav-toggle-chart" data-pid="chart">
      <i class="fa fa-area-chart" aria-hidden="true" title="Turn on/off the Memory usage panel."></i>
      <div>Memory chart</div>
    </li>
    <li class="sidenav-panel-toggle" id="sidenav-toggle-output" data-pid="output">
      <i class="fa fa-sign-out" aria-hidden="true" title="Turn on/off the Device ouput panel."></i>
      <div>Output log</div>
    </li>
    <li class="sidenav-panel-toggle" id="sidenav-toggle-run" data-pid="run">
      <i class="fa fa-play-circle" aria-hidden="true" title="Turn on/off the source sending panel."></i>
      <div>Source sending</div>
    </li>
    <li class="sidenav-separator sidenav-panel-toggle active-sidenav-button" id="sidenav-toggle-console" data-pid="console">
      <i class="fa fa-terminal" aria-hidden="true" title="Turn on/off the Console panel."></i>
      <div>Console</div>
    </li>
  </ul>
</div>
<!-- /Menu -->
