<!-- Console -->
<div class="row vertical-resizable hidden-panel" id="console-wrapper">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Console</span>
        <div class="panel-heading-buttons">
          <div class="btn btn-default btn-xs disabled" id="jerry-sync-source-button" title="Sync source(s) from JerryScript.">Sync source</div>
        </div>
      </div>
      <div class="panel-body console">
        <div id="console-panel" class="logger-panel perfect-scrollable"></div>
      </div>
      <div class="panel-footer">
        <input type="text" class="form-control" id="command-line-input" placeholder="Command line">
      </div>
    </div>
  </div>
</div>
<!-- /Console -->
