<!-- Console -->
<div class="row vertical-resizable" id="console-wrapper">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Console</span>
      </div>
      <div class="panel-body console">
        <div id="console-panel" class="logger-panel"></div>
      </div>
      <div class="panel-footer">
        <input type="text" class="form-control" id="command-line-input" placeholder="Command line">
      </div>
    </div>
  </div>
</div>
