<!-- Editor -->
<div class="horizontal-resizable resizable" id="editor-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" id="file-tabs"></div>
        <div class="panel-body" id="editor"></div>
      </div>
    </div>
  </div>
</div>
<!-- /Editor -->
