<!-- Editor -->
<div class="horizontal-resizable resizable" id="editor-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="editor-panel">
        <div class="panel-heading" id="file-tabs">
          <div id="file-tabs-placeholder">Files...</div>
        </div>
        <div class="panel-body" id="editor-container">
          <div id="editor-placeholder">
            <h2>IoT.js Code</h2>
            <div id="start-info">
              <p>To start:</p>
              <ul id="start-options">
                <li><span id="start-open-file-link">Open file</span></li>
                <li><span id="start-new-file-link">New file</span></li>
                <li>Connect to a device</li>
              </ul>
            </div>
          </div>
          <div id="monaco"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Editor -->
