<!-- Workspace -->
<div id="workspace-wrapper">
  <%- include('debugger-buttons'); %>

  <!-- Debugger panels and the editor -->
  <div class="row resizable-columns">
    <%- include('panels'); %>

    <%- include('editor'); %>
  </div>
  <!-- /Debugger panels and editor -->
</div>
<!-- /Workspace -->
