<!-- Workspace -->
<div id="workspace-wrapper">
  <!-- Debugger action buttons -->
  <%- include('debugger-buttons'); %>
    <!-- /Debugger action buttons -->

    <!-- Debugger panels and the editor -->
    <div class="row resizable-columns">
      <!-- panels -->
      <%- include('panels'); %>

        <!-- Editor -->
      <%- include('editor'); %>
    </div>
    <!-- /Debugger panels and editor -->
</div>
<!-- /Workspace -->
