<!-- Memory usage -->
<div class="row vertical-resizable hidden-panel" id="chart-wrapper">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading" name="chart-wrapper">
        <span>Memory usage</span>
        <div class="btn btn-xs btn-default chart-btn disabled" id="chart-reset-button">Clear</div>
        <div class="btn btn-xs btn-default chart-btn disabled" id="chart-stop-button">Pause</div>
        <div class="btn btn-xs btn-default chart-btn disabled" id="chart-record-button">Record</div>
      </div>
      <div class="panel-body memory-chart">
        <div id="memory-chart-content">
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
