<!-- Output log -->
<div class="row vertical-resizable hidden-panel" id="output-wrapper">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading" name="output-wrapper">
        <span>Output log</span>
      </div>
      <div class="panel-body output">
        <div id="output-panel" class="logger-panel"></div>
      </div>
    </div>
  </div>
</div>
