<!-- Source sending, Run -->
<div class="row vertical-resizable hidden-panel" id="run-wrapper">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading" name="run-wrapper">
        <span>Source sending</span>
        <div class="btn btn-success btn-xs disabled" id="run-ok-button">Run</div>
        <div class="btn btn-success btn-xs disabled" id="run-context-reset-button">Context reset</div>
        <div class="btn btn-danger btn-xs" id="run-clear-button">Clear</div>
      </div>
      <div class="panel-body run">
        <div id="run-panel">
          <div class="run-div">
            <p>Available file(s):</p>
            <ul id="run-chooser-src" class="selectable"></ul>
          </div>
          <div class="run-div">
            <div>
              <div class="btn btn-success btn-xs disabled" id="run-right-button">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              </div>
              <div class="btn btn-success btn-xs disabled" id="run-left-button">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="run-div">
            <p>Selected file(s):</p>
            <ul id="run-chooser-dest" class="selectable"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
