<!-- Watch -->
<div class="row vertical-resizable hidden-panel" id="watch-wrapper">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading" name="watch-wrapper">
        <span>Watch</span>
        <div class="btn btn-xs btn-default watch-btn" id="watch-add-button">Add</div>
        <div class="btn btn-xs btn-default watch-btn disabled" id="watch-refresh-button">Refresh</div>
        <div class="btn btn-xs btn-default watch-btn disabled" id="watch-clear-button">Clear</div>
      </div>
      <div class="panel-body watch-panel">
        <div id="watch-content">
          <div id="watch-add-wrapper">
            <input type="text" class="form-control input-sm" id="watch-add-input" placeholder="Expression">
          </div>
          <ul id="watch-list"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
