<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>IoT.js Code</title>
  <meta name="description" content="Browser based devtool including debugger for IoT.js">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%- include('app/view/main'); %>
</body>

</html>
